/* QRscanner.css */
.scanner-container {
    margin: 30px;
    width: 300px; /* Cambia esto al tamaño que desees */
    height: 300px; /* Cambia esto al tamaño que desees */
    /* Puedes agregar otros estilos, como borde, margen, etc. */
  }
  